/*main.css*/
html, body, head, h1, h2, h3, a, p, ul, ol, li {
    padding:0;
    border:0;
    margin:0;
    font:inherit;
    font-size:100%;
    }
    body {
    background: #9E9E9E;
    }
    h1 {
    font-family: Broadway, "Tempus Sans ITC", sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    color: #9E9E9E;
    }
    h2 {
    font-family:"Tempus Sans ITC", sans-serif;
    font-size: 19px;
    font-weight: 200;
    padding: 10px;
    text-align: center;
    background: #000000;
    color: #FFFFFF;
    }
    h3 {
    font-family:"Tempus Sans ITC", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: #3E2723;
    border-bottom: 2px solid #3E2723;
    margin: 5px;
    }
    h2 strong {
    font-weight: 1000;
    }
    a {
    font-family:"Tempus Sans ITC", sans-serif;
    font-size: 15px; 
    color: #3E2723;
    }
    .header {
    background: #3E2723;
    }
    .pictures, .plagues, .articles {
    width: 600px;
    margin: 0 auto;
    }
    .pictures li {
    padding-bottom: 10px;
    list-style-type: none;
    }
    .plagues img {
    float: left;
    padding-right: 10px;
    }
    .plagues li {
    padding-bottom: 90px;
    padding-right: 10px;
    }
    .articles li {
    list-style-type: none;
    padding-bottom: 5px;
    }
    .footer {
    background: #3E2723;
    color: #9E9E9E;
    text-align: center;
    padding: 8px;
    margin-bottom: none;
    }
    .footer a {
    color: #9E9E9E;
    }
    a:hover {
    color: #D50000;
    text-decoration: underline;
    }